/* Utilities */
.m-t-5 {
  margin-top: 5px; }

.m-t-10 {
  margin-top: 10px; }

.m-t-15 {
  margin-top: 15px; }

.m-t-20 {
  margin-top: 20px; }

.m-t-25 {
  margin-top: 25px; }

.m-t-30 {
  margin-top: 30px; }

/* Header */
header#header {
  margin-bottom: 20px; }

/* Semantic UI */
.ui.header.pageTitle {
  text-align: center; }

.ui.message .icon.close {
  position: initial;
  order: 3;
  margin-left: 15px; }

.ui.message .icon:not(.close) {
  font-size: 26px !important; }

/* Login Page */
#loginPage {
  padding-top: 40px; }

#loginForm .loginFormPasswordField {
  margin-bottom: 0; }

#loginForm .forgotModalTrigger {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  color: #4183c4; }

/* TodoLists Page */
#todoListsWrapper .todoListMenu {
  margin: 0;
  justify-content: flex-end; }
  #todoListsWrapper .todoListMenu .item {
    font-weight: 300; }

#todoForm input {
  font-weight: 300; }

#todoLists {
  margin-top: 0; }

#todoLists > .todo {
  padding-top: 8px;
  padding-bottom: 8px; }
  #todoLists > .todo:first-child {
    border-top: 0; }
  #todoLists > .todo .content {
    display: flex;
    justify-content: space-between; }
    #todoLists > .todo .content .buttons {
      order: 3;
      margin-left: 15px; }
    #todoLists > .todo .content .header {
      padding-top: 12px;
      padding-bottom: 12px;
      font-weight: 300; }

/* App */
#app {
  margin: 50px 0; }

/* Content */
section#main {
  margin-top: 60px; }
